*{
    outline: 1px red solid;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient( rgba(16, 16, 51, 0.5), rgba(16, 16, 51, 0.5) ), url(../content/mainBG.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    */
    background-image: url(../content/mainBG.webp);
}

.navbar{
    height: 10vh;
    background-color: rgba(32,32,58,120);
    display: flex;
}

.navbar img{
    margin-left: 50%;
    height: 100%;   
}

.navbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
}