/*
https://cssportal.com
https://www.svgbackgrounds.com/
https://neumorphism.io/#521ce9
https://uiverse.io
*/


*{
    outline: 1px red solid;
}

body{
    margin:0;
    padding:0;
    height: vh;
    width: vw;
    /*background: linear-gradient( rgba(16, 16, 51, 0.5), rgba(16, 16, 51, 0.5) ), url(../content/mainBG.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    */
    background-image: url(../content/mainBG.webp);
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 10vh;
    background-color: rgba(32,32,58,120);
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainIcon{
    height: 100%;   
}

.navbuttons{
    position: absolute;
    right:0;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.navbar a{
    margin: 3px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
}